<link rel="stylesheet" href="/static/mainPage.css">
<script src="/static/utils.js"></script>
<div class="header">
  <div class="driverListTitle">
    Create Ride
  </div>
  <button type="submit" class="logOutButton"
    onclick="logOut()">
      Log Out
  </button>
</div>
<form action="/createRide" method="post">
  <div class="container">
    <label for="uname"><b>Start</b></label>
    <input type="text" placeholder="Starting Point..." name="uname" required>
    <label for="uanem"><b>Destination</b></label>
    <input type="text" placeholder="Destination..." name="uname" required>
	<label for="uanem"><b>Date</b></label>
    <input type="date" placeholder="Date..." name="uname" required>
	<label for="uanem"><b>Time</b></label>
    <input type="time" placeholder="Time..." name="uname" required>
  </div>
  <div class="container">
    <button class="fullWidthButton" type="submit">Submit Request</button>
    <a href="/mainPage">Cancel</a>
  </div>
</form>
