<script src="/static/utils.js"></script>
<link rel="stylesheet" href="/static/mainPage.css">
<div class="header">
  <div class="driverListTitle">
    Create New User
  </div>
  <button type="submit" class="logOutButton"
    onclick="logOut()">
      Log Out
  </button>
</div>
<form action="/createUser" method="post">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <label for="email"><b>Email Address</b></label>
    <input type="text" placeholder="Enter Email Address" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label for="password"><b>Confirm Password</b></label>
    <input type="comfirmPassword" placeholder="Confirm Password" name="confirmPassword">
    <button class="fullWidthButton" type="submit">Create Account</button>
    <a href="/login">Cancel</a>
  </div>
</form>
