<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="/static/utils.js"></script>
<script src="/static/mainPage.js"></script>
<link rel="stylesheet" href="/static/mainPage.css">
<body onload="init()">
  <div class="header">
    <div class="driverListTitle">
      Available Rides
    </div>
    <button type="submit" class="logOutButton"
      onclick="logOut()">
        Log Out
    </button>
  </div>
  <div id="driverList" class="driverList">
  </div>
  <div class="centerParent">
    <button type="submit" class="startNewRideButton"
      onclick="window.location='/createRide';">
        Start New Ride
    </button>
  </div>
</body>
